---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import '../styles/index.scss'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <header>
    <nav>
      <Navigation />
    </nav>
  </header>

  <body>
    <h1>About me</h1>
    <h2>I'm switching to astro due to easy support of md files.</h2>
    <p>The better I get, the nicer it would look</p>
  </body>
  <Footer />


</html>
