---
import Social from "./Social.astro";
---

<footer>
  <p>
    This website and other projects are in <Social
      platform="github"
      username="Super-Fusiom"
    />.
  </p>
  <p>
    If you want to hire me then message me at <Social
      platform="Linkedin"
      username="Super-Fusiom"
    />.
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
